.tm_view {
    /* Variables: Colors */
    --bg2-5: hsla(0, 0%, calc(96% - 50%), 0.06);
    --bg-clickable: var(--bg2-5);
    --bg-hover: var(--bg3);
    --accent-color: var(--ax3);
    --color-text-clickable: var(--tx2);
    --color-text-hover: var(--tx1);

    /* Variables: Sizes */
    --line-height: 1.5rem;
    --button-icon-size: 14px;
    --button-size: calc(var(--line-height));
    --border-radius: 3px;
    --gap: 4px;

    /* General */
    user-select: none;
    color: var(--color-text-clickable);
    font-size: var(--nav-item-size);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 !important;

    /* Layout */
    .tm_view {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
    }

    .tm_view-header {
        display: flex;
        border-bottom: 1px solid var(--background-modifier-border);
        flex-shrink: 0;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .tm_view-body {
        flex-grow: 1;
        overflow: auto;
    }

    .tm_view-tree, .tm_view-header {
        padding: 8px;
    }

    .tm_tree-item-container {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        margin-bottom: var(--gap);
    }

    .tm_tree-item-self {
        display: flex;
        width: 100%;
        gap: var(--gap);
    }

    .tm_tree-item-title {
        flex: 1 1 auto;
        line-height: 1.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 0.5rem;
    }

    .mod-folder .tm_tree-item-title {
        padding-left: 0;
    }

    /* Children */
    .tm_tree-item-children {
        padding-left: calc(var(--button-size) / 2);
        margin-left: calc((var(--button-size) / 2) - 1px);
        border-left: 1px solid var(--background-modifier-border);
    }

    .tm_tree-item-container.is-collapsed>.tm_tree-item-children {
        display: none;
    }

    /* Icons */
    .tm_icon, .tm_button-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tm_icon svg, .tm_button-icon svg {
        width: var(--button-icon-size);
        height: var(--button-icon-size);
    }

    svg.right-triangle {
        width: 10px;
        height: 10px;
        stroke-width: 4px;
        transition: transform 100ms ease-in-out;
    }

    .is-collapsed svg.right-triangle:first-of-type {
        transform: rotate(-90deg);
    }

    .rotate-180deg svg {
        transform: rotate(180deg);
    }

    /* Buttons */
    .tm_button-icon, .is-clickable {
        cursor: pointer;
    }

    .tm_button-icon, .is-clickable {
        color: var(--color-text-clickable);
        min-width: var(--button-size);
        height: var(--button-size);
        border-radius: var(--border-radius);
        background-color: var(--bg-clickable);
    }

    .tm_button-icon:hover, .is-clickable:hover {
        background-color: var(--bg-hover);
        color: var(--color-text-hover);
    }

    /* Style for the currently active file */
    .tm_tree-item-container.is-active,
    .tm_tree-item-container.is-active:hover {
        color: var(--text-on-accent);
        background-color: var(--accent-color);
    }
}