.tm_view {
    /* Colors */
    --tm_bg2-5: hsla(0, 0%, calc(96% - 50%), 0.06);
    --tm_bg-clickable: var(--tm_bg2-5);
    --tm_bg-hover: var(--bg3);
    --tm_accent-color: var(--ax3);
    --tm_text-on-accent: var(--text-on-accent);
    --tm_color-text-clickable: var(--tx2);
    --tm_color-text-hover: var(--tx1);
    --tm_border-color: var(--background-modifier-border);

    /* Sizes */
    --tm_square-size: 1.5rem;
    --tm_button-icon-size: 14px;
    --tm_button-size: calc(var(--tm_square-size));
    --tm_border-radius: 3px;
    --tm_gap: 4px;
    --tm_font-size: var(--font-text-size);
}

.tm_view {
    user-select: none;
    color: var(--tm_color-text-clickable);
    font-size: var(--tm_font-size);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 !important;
    overflow: hidden;

    .tm_view-header {
        display: flex;
        border-bottom: 1px solid var(--tm_border-color);
        flex-shrink: 0;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .tm_spacer {
        flex-grow: 1;
    }

    .tm_view-body {
        flex-grow: 1;
        overflow: auto;
    }

    .tm_view-tree, .tm_view-header {
        padding: 8px;
    }

    .tm_tree-item-container {
        display: flex;
        flex-direction: column;
        gap: var(--tm_gap);
        margin-bottom: var(--tm_gap);
    }

    .tm_tree-item-self {
        display: flex;
        width: 100%;
        gap: var(--tm_gap);
    }

    .tm_tree-item-title {
        flex: 1 1 auto;
        line-height: var(--tm_button-size);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 0.5rem;
    }

    .mod-folder .tm_tree-item-title {
        padding-left: 0;
    }

    /* Children */
    .tm_tree-item-children {
        padding-left: calc(var(--tm_button-size) / 2);
        margin-left: calc((var(--tm_button-size) / 2) - 1px);
        border-left: 1px solid var(--tm_border-color);
    }

    .tm_tree-item-container.is-collapsed>.tm_tree-item-children {
        display: none;
    }

    /* Icons */
    .tm_icon, .tm_button-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tm_icon svg, .tm_button-icon svg {
        width: var(--tm_button-icon-size);
        height: var(--tm_button-icon-size);
    }

    svg.right-triangle {
        width: 10px;
        height: 10px;
        stroke-width: 4px;
        transition: transform 100ms ease-in-out;
    }

    .is-collapsed svg.right-triangle:first-of-type {
        transform: rotate(-90deg);
    }

    .rotate-180deg svg {
        transform: rotate(180deg);
    }

    /* Buttons */
    .tm_button-icon, .is-clickable {
        cursor: pointer;
    }

    .tm_button-icon, .is-clickable {
        color: var(--tm_color-text-clickable);
        min-width: var(--tm_button-size);
        height: var(--tm_button-size);
        line-height: var(--tm_button-size);
        border-radius: var(--tm_border-radius);
        background-color: var(--tm_bg-clickable);
    }

    .tm_button-icon:hover, .is-clickable:hover {
        background-color: var(--tm_bg-hover);
        color: var(--tm_color-text-hover);
    }

    /* Style for the currently active file */
    .tm_tree-item-title.is-active,
    .tm_tree-item-title.is-active:hover {
        color: var(--tm_text-on-accent);
        background-color: var(--tm_accent-color);
    }
}

/* Mobile */
.tm_view.tm_view-mobile {
    --tm_square-size: 2rem;
    flex-direction: column-reverse;

    .tm_view-header {
        border-top: 1px solid var(--tm_border-color);
        border-bottom: none;
    }
}